header {
    border: 1px solid #ccc;
    background: #f2f2f2;
    padding: 10px;
}

nav {
    border: solid #008000;
}

footer {
    background: #8f8d8d;
}

article {
    margin: 0;
    padding: 5px;
    background-color: rgb(187, 184, 184);
}

section {
    border: 1px dotted #ffffff;
    padding: 10px;
}

aside {
    background: #0000ff5b;
}

.output {
    font: 1rem 'Fira Sans', sans-serif;
    letter-spacing: 1px;
}